@import url('https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.font-regular{
    font-family: 'Noto Serif SC', serif;
    font-weight: 300;
}
.article-brief {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: left;
}

.article-brief h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: left;
}

.font-header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.typora {
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.typora img {
    width: 100%;
}

.typora p {
    margin: 0, 0, 15px, 0;
    line-height: 1.7;
}

.typora blockquote {
    color: dimgrey;
}

.typora h1,h2,h3,h4 {
    margin-top: 50px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.typora h3 {
    font-size: 2rem;
}

.typora h4 {
    font-size: 1.8rem;
}

.typora h5 {
    font-size: 1.45rem;
    margin-top: 30px;
    margin-bottom: 1rem;
}