<!DOCTYPE html>
<html>
    {% include "partial/head.html" %}

<body>
<div class="container-fluid bg-light pt-0 pb-3 px-0">
    {% include "partial/header.html" %}

    <div class="row p-3">
        <div class="col-0 col-xl-2"></div>
        <div class="col-12 col-xl-8">
                {% include "temp/about_content.html" %}
        </div>
        <div class="col-0 col-xl-2"></div>
    </div>

    <!--Incomplete now-->
    <div class="row">
        <div class="col-3 col-xl-3"></div>
        <div class="col-3 col-xl-3">
            {% if has_prev %}
            <a rel="noopener" href="{{prev}}.html" style="color:black;text-decoration:none;" class="font-header">← {{prev}}</a>
            {% endif %}
        </div>
        <div class="col-3 col-xl-3">
            <div class ="text-right">
            {% if has_next %}
            <a rel="noopener" href="{{next}}.html" style="color:black;text-decoration:none;"" class="font-header">{{next}} →</a>
            {% endif %}
            </div>
        </div>
        <div class="col-3 col-xl-3"></div>
    </div>
    



    {% include "partial/footer.html" %}
       
  </div>

  

