<!DOCTYPE html>
<html>
   <head>
      <title>{{config.tab_title}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
      <!-- 引入 Bootstrap -->
      <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
   </head>
   <body>


<div class="container-fluid bg-light pt-0 pb-3 pl-0 pr-0">
    <div class="bg-white shadow-sm pt-5">
        <div class="row pl-3 pr-3">
            <div class="col-0 col-xl-2"></div>
            <div class="col-6 col-xl-4">
                <h1 class="font-header">{{config.title}}</h1>
                <p class="font-header">{{config.subtitle}}</p>
            </div>
            <div class="col-6 col-xl-4 align-self-center">

                <div class="text-right">
                    <a  rel="noopener" href="about.html" style="color:black;text-decoration:none;" class="text-right font-header">About</a>
                </div>
            </div>
            <div class="col-0 col-xl-2"></div>
        </div>
        <br>
        <div class="row pl-3 pr-3">
            <div class="col-0 col-xl-2"></div>
            <div class="col-12 col-xl-8">
                <div class="row">
                    <div class="col-2 col-lg-1">

                        <h4 class="font-regular"><a  rel="noopener" style="color:grey;text-decoration:none;" href="index.html" >精选</a></h4>
                    </div>

                    <div class="col-2 col-lg-1">
                        <h4 class="font-regular text-secondary"><a  rel="noopener" style="color:grey;text-decoration:none;" href="all/1.html" >全部</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-0 col-xl-2"></div>
        </div>
        
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-0 col-xl-2"></div>
        <div class="col-12 col-xl-8">
                {% include "partial/about_content.html" %}
        </div>
        <div class="col-0 col-xl-2"></div>
    </div>
    



    <HR style = "FILTER:alpha(opacity=100,finishopacity=0,style=3)"width="95%"  SIZE=3>
    <p style = "margin-bottom: 0" class="text-center font-regular">theme inspired by camarts</p>
    <p style = "margin-bottom: 0" class="text-center font-regular">{{config.footer_info}}&ensp;&ensp; |&ensp;&ensp;&ensp;<a target="_blank" rel="noopener" href="http://beian.miit.gov.cn/" style="color:black;text-decoration:none;">{{config.beian}}</a></p>
       
  </div>

  

