<!DOCTYPE html>
<html>

    {% include "partial/head.html" %}

<body>
<div class="container-fluid bg-light pt-0 pb-3 px-0">
    <div class="bg-white shadow-sm pt-5">
        <div class="row pl-3 pr-3">
            <div class="col-0 col-xl-2"></div>
            <div class="col-6 col-xl-4">
                <h1 class="font-header">{{config.title}}</h1>
                <p class="font-header">{{config.subtitle}}</p>
            </div>
            <div class="col-6 col-xl-4 align-self-center">

                <div class="text-right">
                    <a  rel="noopener" href="../about.html" style="color:black;text-decoration:none;" class="text-right font-header">About</a>
                </div>
            </div>
            <div class="col-0 col-xl-2"></div>
        </div>
        <br>
        <div class="row pl-3 pr-3">
            <div class="col-0 col-xl-2"></div>
            <div class="col-12 col-xl-8">
                <div class="row">
                    <div class="col-3 col-md-2 col-lg-1">

                        <h4 class="font-regular"><a  rel="noopener" style="color:grey;text-decoration:none;" href="../index.html" >精选</a></h4>
                    </div>

                    <div class="col-3 col-md-2 col-lg-1">
                        <h4 class="font-regular text-secondary"><a  rel="noopener" style="color:black;text-decoration:none;" href="1.html" >全部</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-0 col-xl-2"></div>
        </div>
    </div>
    <br>
    <br>

    {% for item in items %}
        {% include "partial/pic.html" %}
    {% endfor %}

    
    <div class="row">
        <div class="col-3 col-xl-3"></div>
        <div class="col-3 col-xl-3">
            {% if page > 1 %}
            <a rel="noopener" href="{{page-1}}.html" style="color:black;text-decoration:none;" class="font-header">←Prev</a>
            {% endif %}
        </div>
        <div class="col-3 col-xl-3">
            <div class ="text-right">
            {% if page < page_total %}
            <a rel="noopener" href="{{page+1}}.html" style="color:black;text-decoration:none;"" class="font-header">Next→</a>
            {% endif %}
            </div>
        </div>
        <div class="col-3 col-xl-3"></div>
    </div>

    {% include "partial/footer.html" %}   
  </div>

  

