<!DOCTYPE html>
<html>

    {% include "partial/head.html" %}

<body>
<div class="container-fluid bg-light pt-0 pb-3 px-0">
    {% include "partial/header.html" %}

    {% for item in items %}
        {% include "partial/pic.html" %}
    {% endfor %}

    
    <div class="row">
        <div class="col-3 col-xl-3"></div>
        <div class="col-3 col-xl-3">
            {% if page > 1 %}
            <a rel="noopener" href="{{page-1}}.html" style="color:black;text-decoration:none;" class="font-header">←Prev</a>
            {% endif %}
        </div>
        <div class="col-3 col-xl-3">
            <div class ="text-right">
            {% if page < page_total %}
            <a rel="noopener" href="{{page+1}}.html" style="color:black;text-decoration:none;"" class="font-header">Next→</a>
            {% endif %}
            </div>
        </div>
        <div class="col-3 col-xl-3"></div>
    </div>

    {% include "partial/footer.html" %}   
  </div>

  

