<!DOCTYPE html>
<html>

    {% include "partial/head.html" %}

<body>
<div class="container-fluid bg-light pt-0 pb-3 px-0">
    {% include "partial/header.html" %}

    <div class="row px-3">
        <div class="col-0 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                {% for item in items %}
                <a rel="noopener" href="{{item.url}}" style="color:black;" class="font-header">
                    <h2>{{item.name}}</h2>
                    <h4><small>{{item.date}}</small></h4>
                </a>
                <hr>
                {% endfor %}

            </div>
        <div class="col-0 col-lg-2"></div>
    </div>


    
    

    {% include "partial/footer.html" %}   
</div>