<div class="bg-white shadow-sm pt-5">
    <div class="row pl-3 pr-3">
        <div class="col-0 col-lg-2"></div>
        <div class="col-6 col-lg-4">
            <h1 class="font-header">{{global.title}}</h1>
            <p class="font-header">{{global.subtitle}}</p>
        </div>
        <div class="col-6 col-lg-4 align-self-center">

            <div class="text-right">
                <a  rel="noopener" href="/about.html" style="color:black;text-decoration:none;" class="text-right font-header">About</a>
            </div>
        </div>
        <div class="col-0 col-lg-2"></div>
    </div>
    <br>
    <div class="row pl-3 pr-3">
        <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-3 col-md-2 col-lg-2 col-xl-1">
                    <h4 class="font-regular"><a  rel="noopener" style="color:{{page.tcolor[0]}};text-decoration:none;" href="/index/1.html" >主页</a></h4>
                </div>

                <div class="col-3 col-md-2 col-lg-2 col-xl-1">
                    <h4 class="font-regular text-secondary"><a  rel="noopener" style="color:{{page.tcolor[1]}};text-decoration:none;" href="/gallery/1.html" >摄影</a></h4>
                </div>

                <div class="col-3 col-md-2 col-lg-2 col-xl-1">
                    <h4 class="font-regular text-secondary"><a  rel="noopener" style="color:{{page.tcolor[2]}};text-decoration:none;" href="/article_category.html" >文章</a></h4>
                </div>

                <div class="col-3 col-md-2 col-lg-2 col-xl-1">
                    <h4 class="font-regular text-secondary"><a  rel="noopener" style="color:{{page.tcolor[3]}};text-decoration:none;" href="/picture/1.html" >图库</a></h4>
                </div>

            </div>
        </div>
        <div class="col-0 col-lg-2"></div>
    </div>
    
</div>
<br>
<br>