    <!--Incomplete now-->
    <div class="row">
        <div class="col-3 col-xl-3"></div>
        <div class="col-3 col-xl-3">
            {% if nav.has_prev %}
            <a rel="noopener" href="{{nav.prev}}" style="color:black;text-decoration:none;" class="font-header">← {{nav.prev_text}}</a>
            {% endif %}
        </div>
        <div class="col-3 col-xl-3">
            <div class ="text-right">
            {% if nav.has_next %}
            <a rel="noopener" href="{{nav.next}}" style="color:black;text-decoration:none;"" class="font-header">{{nav.next_text}} →</a>
            {% endif %}
            </div>
        </div>
        <div class="col-3 col-xl-3"></div>
    </div>